<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" verbose="5">
	<listeners>
		<listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
		<listener class-name="listeners.TestListener"></listener>
		<listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
	</listeners>
	<test name="Login">
		<classes>
			<class name="tests.SignInTest"/>
		</classes>
	</test>
</suite>
